<a href="https://colab.research.google.com/github/shbaek916/Study-Project/blob/main/%EB%B0%B1%EC%86%A1%ED%95%98/kamis_API_%EC%A0%91%EA%B7%BC%ED%95%B4%EB%B3%B4%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

'''
def create_price_table():
    c.execute(
        'CREATE TABLE item_price('
        'date TEXT,'
        'item_name TEXT,'
        'item_code INTEGER,'
        'kind_name TEXT,'
        'rank TEXT,'
        'unit TEXT,'
        'price INTEGER,'
        'FOREIGN KEY(item_code) REFERENCES items(item_code),'
        'UNIQUE(date, item_code, kind_name, rank) ON CONFLICT REPLACE)'
    )
'''

In [ ]:
import requests
import json
import pandas as pd
import numpy as np

# 사과로 월별 가격 데이터 요청하고 정리해보기

In [ ]:
url = 'http://www.kamis.or.kr/service/price/xml.do?action=monthlySalesList'

param = {
    'p_cert_key' : '8dc40ba8-e389-4163-98df-2ea1390c88f6',
    'p_cert_id' : '2455',
    'p_returntype' : 'json',
    'p_yyyy' : '2022',
    'p_period' : '5', # 17~22년 까지 5개년치
    'p_itemcategorycode': '400', # 과일류
    'p_kindcode' : '05', # 후지
    'p_graderank' : '1', # 상급
    'p_countycode' : '1101',  # 디폴트 전체지역
    'p_convert_kg_yn': 'Y',
    'p_itemcode' : '411' # 사과
}
header = {
    'p_cert_key' : '8dc40ba8-e389-4163-98df-2ea1390c88f6',
    'p_cert_id' : '2455'
}
resp = requests.get(url = url, params = param, headers = header)
resp.text

'{"condition":[{"p_cert_id":"2455","p_cert_key":"8dc40ba8-e389-4163-98df-2ea1390c88f6","p_returntype":"json","p_yyyy":"2022","p_period":"5","p_itemcategorycode":"400","p_itemcode":"411","p_kindcode":"05","p_graderank":"1","p_countycode":"1101"}],"error_code":"000","price":[{"productclscode":"02","caption":"도매가격 > 과일류 > 사과 > 후지 > 상품 > 1kg","item":[{"yyyy":"2017","m1":"4,460","m2":"4,550","m3":"4,355","m4":"3,970","m5":"3,800","m6":"3,800","m7":"3,838","m8":"3,586","m9":"-","m10":"-","m11":"3,355","m12":"3,511","yearavg":"3,919"},{"yyyy":"2018","m1":"3,977","m2":"4,244","m3":"4,200","m4":"4,200","m5":"4,200","m6":"4,200","m7":"4,200","m8":"4,355","m9":"4,460","m10":"3,850","m11":"3,996","m12":"4,368","yearavg":"4,184"},{"yyyy":"2019","m1":"4,732","m2":"3,882","m3":"4,275","m4":"4,205","m5":"4,048","m6":"4,290","m7":"3,922","m8":"3,248","m9":"3,500","m10":"3,275","m11":"3,410","m12":"3,800","yearavg":"3,943"},{"yyyy":"2020","m1":"3,615","m2":"3,705","m3":"4,009","m4":"4,215","m5":"6,137","m6":"6,805","m7":"7,971","m8":"9,830","m9":"-","m10":"4,906","m11":"5,016","m12":"6,200","yearavg":"5,422"},{"yyyy":"2021","m1":"6,265","m2":"6,867","m3":"6,764","m4":"7,200","m5":"7,226","m6":"7,127","m7":"6,703","m8":"5,000","m9":"-","m10":"3,882","m11":"3,556","m12":"4,711","yearavg":"6,043"},{"yyyy":"2022","m1":"6,550","m2":"4,971","m3":"3,891","m4":"4,236","m5":"-","m6":"-","m7":"-","m8":"-","m9":"-","m10":"-","m11":"-","m12":"-","yearavg":"4,952"}]},{"productclscode":"01","caption":"소매가격 > 과일류 > 사과 > 후지 > 상품 > 10개","item":[{"yyyy":"2017","m1":"20,046","m2":"20,315","m3":"18,515","m4":"18,361","m5":"19,081","m6":"21,922","m7":"23,599","m8":"25,292","m9":"-","m10":"-","m11":"21,288","m12":"22,679","yearavg":"21,062"},{"yyyy":"2018","m1":"22,259","m2":"22,421","m3":"22,267","m4":"20,501","m5":"18,795","m6":"19,429","m7":"20,520","m8":"22,148","m9":"23,300","m10":"21,000","m11":"20,600","m12":"20,411","yearavg":"20,964"},{"yyyy":"2019","m1":"23,199","m2":"26,042","m3":"25,819","m4":"27,196","m5":"26,723","m6":"25,706","m7":"27,356","m8":"29,513","m9":"26,600","m10":"16,778","m11":"17,037","m12":"16,867","yearavg":"24,515"},{"yyyy":"2020","m1":"18,454","m2":"20,066","m3":"20,540","m4":"20,834","m5":"22,200","m6":"22,926","m7":"25,548","m8":"27,037","m9":"-","m10":"26,638","m11":"24,880","m12":"24,699","yearavg":"22,832"},{"yyyy":"2021","m1":"29,650","m2":"34,016","m3":"30,652","m4":"34,186","m5":"32,413","m6":"31,524","m7":"30,868","m8":"29,613","m9":"-","m10":"-","m11":"23,632","m12":"24,742","yearavg":"30,101"},{"yyyy":"2022","m1":"27,229","m2":"27,964","m3":"29,353","m4":"30,345","m5":"-","m6":"-","m7":"-","m8":"-","m9":"-","m10":"-","m11":"-","m12":"-","yearavg":"28,619"}]}]}'

요청한 결과 json 파일로 따로 저장 후 딕셔너리 타입의 변수로 저장

In [ ]:
with open('apple.json', 'w', encoding='utf8') as f:
    f.write(resp.text)
with open('apple.json', 'r') as f:
  apple_json = json.load(f)
apple_json

{'condition': [{'p_cert_id': '2455',
   'p_cert_key': '8dc40ba8-e389-4163-98df-2ea1390c88f6',
   'p_countycode': '1101',
   'p_graderank': '1',
   'p_itemcategorycode': '400',
   'p_itemcode': '411',
   'p_kindcode': '05',
   'p_period': '5',
   'p_returntype': 'json',
   'p_yyyy': '2022'}],
 'error_code': '000',
 'price': [{'caption': '도매가격 > 과일류 > 사과 > 후지 > 상품 > 1kg',
   'item': [{'m1': '4,460',
     'm10': '-',
     'm11': '3,355',
     'm12': '3,511',
     'm2': '4,550',
     'm3': '4,355',
     'm4': '3,970',
     'm5': '3,800',
     'm6': '3,800',
     'm7': '3,838',
     'm8': '3,586',
     'm9': '-',
     'yearavg': '3,919',
     'yyyy': '2017'},
    {'m1': '3,977',
     'm10': '3,850',
     'm11': '3,996',
     'm12': '4,368',
     'm2': '4,244',
     'm3': '4,200',
     'm4': '4,200',
     'm5': '4,200',
     'm6': '4,200',
     'm7': '4,200',
     'm8': '4,355',
     'm9': '4,460',
     'yearavg': '4,184',
     'yyyy': '2018'},
    {'m1': '4,732',
     'm10': '3,275',
     'm11': '3,410',
     'm12': '3,800',
     'm2': '3,882',
     'm3': '4,275',
     'm4': '4,205',
     'm5': '4,048',
     'm6': '4,290',
     'm7': '3,922',
     'm8': '3,248',
     'm9': '3,500',
     'yearavg': '3,943',
     'yyyy': '2019'},
    {'m1': '3,615',
     'm10': '4,906',
     'm11': '5,016',
     'm12': '6,200',
     'm2': '3,705',
     'm3': '4,009',
     'm4': '4,215',
     'm5': '6,137',
     'm6': '6,805',
     'm7': '7,971',
     'm8': '9,830',
     'm9': '-',
     'yearavg': '5,422',
     'yyyy': '2020'},
    {'m1': '6,265',
     'm10': '3,882',
     'm11': '3,556',
     'm12': '4,711',
     'm2': '6,867',
     'm3': '6,764',
     'm4': '7,200',
     'm5': '7,226',
     'm6': '7,127',
     'm7': '6,703',
     'm8': '5,000',
     'm9': '-',
     'yearavg': '6,043',
     'yyyy': '2021'},
    {'m1': '6,550',
     'm10': '-',
     'm11': '-',
     'm12': '-',
     'm2': '4,971',
     'm3': '3,891',
     'm4': '4,236',
     'm5': '-',
     'm6': '-',
     'm7': '-',
     'm8': '-',
     'm9': '-',
     'yearavg': '4,952',
     'yyyy': '2022'}],
   'productclscode': '02'},
  {'caption': '소매가격 > 과일류 > 사과 > 후지 > 상품 > 10개',
   'item': [{'m1': '20,046',
     'm10': '-',
     'm11': '21,288',
     'm12': '22,679',
     'm2': '20,315',
     'm3': '18,515',
     'm4': '18,361',
     'm5': '19,081',
     'm6': '21,922',
     'm7': '23,599',
     'm8': '25,292',
     'm9': '-',
     'yearavg': '21,062',
     'yyyy': '2017'},
    {'m1': '22,259',
     'm10': '21,000',
     'm11': '20,600',
     'm12': '20,411',
     'm2': '22,421',
     'm3': '22,267',
     'm4': '20,501',
     'm5': '18,795',
     'm6': '19,429',
     'm7': '20,520',
     'm8': '22,148',
     'm9': '23,300',
     'yearavg': '20,964',
     'yyyy': '2018'},
    {'m1': '23,199',
     'm10': '16,778',
     'm11': '17,037',
     'm12': '16,867',
     'm2': '26,042',
     'm3': '25,819',
     'm4': '27,196',
     'm5': '26,723',
     'm6': '25,706',
     'm7': '27,356',
     'm8': '29,513',
     'm9': '26,600',
     'yearavg': '24,515',
     'yyyy': '2019'},
    {'m1': '18,454',
     'm10': '26,638',
     'm11': '24,880',
     'm12': '24,699',
     'm2': '20,066',
     'm3': '20,540',
     'm4': '20,834',
     'm5': '22,200',
     'm6': '22,926',
     'm7': '25,548',
     'm8': '27,037',
     'm9': '-',
     'yearavg': '22,832',
     'yyyy': '2020'},
    {'m1': '29,650',
     'm10': '-',
     'm11': '23,632',
     'm12': '24,742',
     'm2': '34,016',
     'm3': '30,652',
     'm4': '34,186',
     'm5': '32,413',
     'm6': '31,524',
     'm7': '30,868',
     'm8': '29,613',
     'm9': '-',
     'yearavg': '30,101',
     'yyyy': '2021'},
    {'m1': '27,229',
     'm10': '-',
     'm11': '-',
     'm12': '-',
     'm2': '27,964',
     'm3': '29,353',
     'm4': '30,345',
     'm5': '-',
     'm6': '-',
     'm7': '-',
     'm8': '-',
     'm9': '-',
     'yearavg': '28,619',
     'yyyy': '2022'}],
   'productclscode': '01'}]}

In [ ]:
apple_json['price']

[{'caption': '도매가격 > 과일류 > 사과 > 후지 > 상품 > 1kg',
  'item': [{'m1': '4,460',
    'm10': '-',
    'm11': '3,355',
    'm12': '3,511',
    'm2': '4,550',
    'm3': '4,355',
    'm4': '3,970',
    'm5': '3,800',
    'm6': '3,800',
    'm7': '3,838',
    'm8': '3,586',
    'm9': '-',
    'yearavg': '3,919',
    'yyyy': '2017'},
   {'m1': '3,977',
    'm10': '3,850',
    'm11': '3,996',
    'm12': '4,368',
    'm2': '4,244',
    'm3': '4,200',
    'm4': '4,200',
    'm5': '4,200',
    'm6': '4,200',
    'm7': '4,200',
    'm8': '4,355',
    'm9': '4,460',
    'yearavg': '4,184',
    'yyyy': '2018'},
   {'m1': '4,732',
    'm10': '3,275',
    'm11': '3,410',
    'm12': '3,800',
    'm2': '3,882',
    'm3': '4,275',
    'm4': '4,205',
    'm5': '4,048',
    'm6': '4,290',
    'm7': '3,922',
    'm8': '3,248',
    'm9': '3,500',
    'yearavg': '3,943',
    'yyyy': '2019'},
   {'m1': '3,615',
    'm10': '4,906',
    'm11': '5,016',
    'm12': '6,200',
    'm2': '3,705',
    'm3': '4,009',
    'm4': '4,215',
    'm5': '6,137',
    'm6': '6,805',
    'm7': '7,971',
    'm8': '9,830',
    'm9': '-',
    'yearavg': '5,422',
    'yyyy': '2020'},
   {'m1': '6,265',
    'm10': '3,882',
    'm11': '3,556',
    'm12': '4,711',
    'm2': '6,867',
    'm3': '6,764',
    'm4': '7,200',
    'm5': '7,226',
    'm6': '7,127',
    'm7': '6,703',
    'm8': '5,000',
    'm9': '-',
    'yearavg': '6,043',
    'yyyy': '2021'},
   {'m1': '6,550',
    'm10': '-',
    'm11': '-',
    'm12': '-',
    'm2': '4,971',
    'm3': '3,891',
    'm4': '4,236',
    'm5': '-',
    'm6': '-',
    'm7': '-',
    'm8': '-',
    'm9': '-',
    'yearavg': '4,952',
    'yyyy': '2022'}],
  'productclscode': '02'},
 {'caption': '소매가격 > 과일류 > 사과 > 후지 > 상품 > 10개',
  'item': [{'m1': '20,046',
    'm10': '-',
    'm11': '21,288',
    'm12': '22,679',
    'm2': '20,315',
    'm3': '18,515',
    'm4': '18,361',
    'm5': '19,081',
    'm6': '21,922',
    'm7': '23,599',
    'm8': '25,292',
    'm9': '-',
    'yearavg': '21,062',
    'yyyy': '2017'},
   {'m1': '22,259',
    'm10': '21,000',
    'm11': '20,600',
    'm12': '20,411',
    'm2': '22,421',
    'm3': '22,267',
    'm4': '20,501',
    'm5': '18,795',
    'm6': '19,429',
    'm7': '20,520',
    'm8': '22,148',
    'm9': '23,300',
    'yearavg': '20,964',
    'yyyy': '2018'},
   {'m1': '23,199',
    'm10': '16,778',
    'm11': '17,037',
    'm12': '16,867',
    'm2': '26,042',
    'm3': '25,819',
    'm4': '27,196',
    'm5': '26,723',
    'm6': '25,706',
    'm7': '27,356',
    'm8': '29,513',
    'm9': '26,600',
    'yearavg': '24,515',
    'yyyy': '2019'},
   {'m1': '18,454',
    'm10': '26,638',
    'm11': '24,880',
    'm12': '24,699',
    'm2': '20,066',
    'm3': '20,540',
    'm4': '20,834',
    'm5': '22,200',
    'm6': '22,926',
    'm7': '25,548',
    'm8': '27,037',
    'm9': '-',
    'yearavg': '22,832',
    'yyyy': '2020'},
   {'m1': '29,650',
    'm10': '-',
    'm11': '23,632',
    'm12': '24,742',
    'm2': '34,016',
    'm3': '30,652',
    'm4': '34,186',
    'm5': '32,413',
    'm6': '31,524',
    'm7': '30,868',
    'm8': '29,613',
    'm9': '-',
    'yearavg': '30,101',
    'yyyy': '2021'},
   {'m1': '27,229',
    'm10': '-',
    'm11': '-',
    'm12': '-',
    'm2': '27,964',
    'm3': '29,353',
    'm4': '30,345',
    'm5': '-',
    'm6': '-',
    'm7': '-',
    'm8': '-',
    'm9': '-',
    'yearavg': '28,619',
    'yyyy': '2022'}],
  'productclscode': '01'}]

In [ ]:
data = []
for j in range(5):
  data.append([])
  data[j].append(apple_json['price'][0]['item'][j]['yyyy'])
  for i in range(1,13):
    try : 
      data[j].append(int(apple_json['price'][0]['item'][0][f'm{i}'].replace(',', '')))
    except: 
      data[j].append(0)

apple_huji = pd.DataFrame(data)
col = [ f'{i}월' for i in range(1,13)]
col.insert(0,'연도')
apple_huji.columns = col
apple_huji

     연도    1월    2월    3월    4월    5월    6월    7월    8월  9월  10월   11월   12월
0  2017  4460  4550  4355  3970  3800  3800  3838  3586   0    0  3355  3511
1  2018  4460  4550  4355  3970  3800  3800  3838  3586   0    0  3355  3511
2  2019  4460  4550  4355  3970  3800  3800  3838  3586   0    0  3355  3511
3  2020  4460  4550  4355  3970  3800  3800  3838  3586   0    0  3355  3511
4  2021  4460  4550  4355  3970  3800  3800  3838  3586   0    0  3355  3511

# 품목/품종/등급 분류 살펴보기

In [ ]:
# 'https://www.kamis.or.kr/customer/board/board_file.do?brdno=4&brdctsno=424245&brdctsfileno=15636'
code_url = 'https://www.kamis.or.kr/customer/board/board_file.do?brdno=4&brdctsno=424245&brdctsfileno=15636'
test = pd.read_excel(code_url, sheet_name = ['부류코드','품목코드','품종코드','코드통합(부류＋품목＋품종코드)','등급코드'])
test

{'등급코드':     Unnamed: 0               Unnamed: 1         Unnamed: 2 Unnamed: 3  \
 0          NaN  등급코드(p_productrankcode)  등급코드(p_graderank)      등급코드명
 1          NaN                       01                  2        1등급
 2          NaN                       02                  3        2등급
 3          NaN                       03                  4        3등급
 4          NaN                       04                  1         상품
 5          NaN                       05                  2         중품
 6          NaN                       06                  3         하품
 7          NaN                       07                  1        유기농
 8          NaN                       08                  2        무농약
 9          NaN                       10                  1         냉장
 10         NaN                       11                  3         냉동
 11         NaN                       12                  4       무항생제
 12         NaN                       13                  1         S과
 13         NaN                       14                  2         M과
 14         NaN                       15                  1         M과
 15         NaN                       16                  2         S과
 16         NaN                       17                  1       1+등급
 17         NaN                      NaN                NaN        NaN
 18         NaN                      NaN                NaN        NaN
 19         NaN                      NaN                NaN        NaN
 20         NaN                      NaN                NaN        NaN

                                            Unnamed: 4
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12                                                NaN
 13                                                NaN
 14                                                NaN
 15                                                NaN
 16                                                NaN
 17                                                NaN
 18                                                NaN
 19  ※ 13,14 코드는 도매 감귤(노지, 시설)에서 사용하는 코드 \n상품 -> S과...
 20  ※ 15,16 코드는 소매 감귤(노지, 시설)에서 사용하는 코드 \n상품 -> M과...  ,
 '부류코드':    Unnamed: 0 Unnamed: 1 Unnamed: 2
 0         NaN       부류코드        부류명
 1         NaN        100       식량작물
 2         NaN        200        채소류
 3         NaN        300       특용작물
 4         NaN        400        과일류
 5         NaN        500        축산물
 6         NaN        600        수산물,
 '코드통합(부류＋품목＋품종코드)':      Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
 0           NaN    품목 그룹코드     품목 그룹명      품목 코드        품목명       품종코드
 1           NaN        100       식량작물        111          쌀         01
 2           NaN        100       식량작물        111          쌀         02
 3           NaN        100       식량작물        111          쌀         03
 4           NaN        100       식량작물        111          쌀         05
 ..          ...        ...        ...        ...        ...        ...
 200         NaN        600        수산물        650        새우젓         00
 201         NaN        600        수산물        651       멸치액젓         00
 202         NaN        600        수산물        652       굵은소금         00
 203         NaN        600        수산물        653         전복         00
 204         NaN        600        수산물        654         새우         01

     Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10  \
 0          품종명     도매출하단위  도매출하단위 크기     소매출하단위   소매출하단위 크기
 1          일반계         kg         20         kg          20
 2           백미        NaN        NaN        NaN         NaN
 3           현미        NaN        NaN        NaN         NaN
 4         햇일반계         kg         20         kg          20
 ..         ...        ...        ...        ...         ...
 200        새우젓        NaN        NaN         kg           1
 201       멸치액젓        NaN        NaN         kg           1
 202       굵은소금        NaN        NaN         kg           5
 203         전복         kg          1         마리           5
 204    흰다리(수입)         kg          2         마리          10

                Unnamed: 11              Unnamed: 12         Unnamed: 13  \
 0    친환경농산물출하단위('05~'20.3)  친환경농산물출하단위크기('05~'20.3)  친환경농산물출하단위('20.4~)
 1                       kg                       10                 NaN
 2                      NaN                      NaN                  kg
 3                      NaN                      NaN                  kg
 4                      NaN                      NaN                 NaN
 ..                     ...                      ...                 ...
 200                    NaN                      NaN                 NaN
 201                    NaN                      NaN                 NaN
 202                    NaN                      NaN                 NaN
 203                    NaN                      NaN                 NaN
 204                    NaN                      NaN                 NaN

               Unnamed: 14 Unnamed: 15 Unnamed: 16        Unnamed: 17  \
 0    친환경농산물출하단위크기('20.4~)       도매 등급       소매 등급  친환경 등급('05~'20.3)
 1                     NaN       04,05          04              07,08
 2                       4         NaN         NaN                NaN
 3                       2         NaN         NaN                NaN
 4                     NaN       04,05          04                NaN
 ..                    ...         ...         ...                ...
 200                   NaN         NaN          04                NaN
 201                   NaN         NaN          04                NaN
 202                   NaN         NaN          04                NaN
 203                   NaN          05          05                NaN
 204                   NaN          05          05                NaN

         Unnamed: 18
 0    친환경 등급('20.4~)
 1               NaN
 2             07,08
 3             07,08
 4               NaN
 ..              ...
 200             NaN
 201             NaN
 202             NaN
 203             NaN
 204             NaN

 [205 rows x 19 columns],
 '품목코드':     Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3
 0          NaN       부류코드       품목코드        품목명
 1          NaN        100        111          쌀
 2          NaN        100        112         찹쌀
 3          NaN        100        141          콩
 4          NaN        100        142          팥
 ..         ...        ...        ...        ...
 83         NaN        600        650        새우젓
 84         NaN        600        651       멸치액젓
 85         NaN        600        652       굵은소금
 86         NaN        600        653         전복
 87         NaN        600        654         새우

 [88 rows x 4 columns],
 '품종코드':      Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
 0           NaN      품목 코드       품종코드        품목명        품종명     도매출하단위
 1           NaN        111         01          쌀        일반계         kg
 2           NaN        111         02          쌀         백미        NaN
 3           NaN        111         03          쌀         현미        NaN
 4           NaN        111         05          쌀       햇일반계         kg
 ..          ...        ...        ...        ...        ...        ...
 200         NaN        650         00        새우젓        새우젓        NaN
 201         NaN        651         00       멸치액젓       멸치액젓        NaN
 202         NaN        652         00       굵은소금       굵은소금        NaN
 203         NaN        653         00         전복         전복         kg
 204         NaN        654         01         새우    흰다리(수입)         kg

     Unnamed: 6 Unnamed: 7 Unnamed: 8             Unnamed: 9  \
 0    도매출하단위 크기     소매출하단위  소매출하단위 크기  친환경농산물출하단위('05~'20.3)
 1           20         kg         20                     kg
 2          NaN        NaN        NaN                    NaN
 3          NaN        NaN        NaN                    NaN
 4           20         kg         20                    NaN
 ..         ...        ...        ...                    ...
 200        NaN         kg          1                    NaN
 201        NaN         kg          1                    NaN
 202        NaN         kg          5                    NaN
 203          1         마리          5                    NaN
 204          2         마리         10                    NaN

                  Unnamed: 10         Unnamed: 11           Unnamed: 12  \
 0    친환경농산물출하단위크기('05~'20.3)  친환경농산물출하단위('20.4~)  친환경농산물출하단위크기('20.4~)
 1                         10                 NaN                   NaN
 2                        NaN                  kg                     4
 3                        NaN                  kg                     2
 4                        NaN                 NaN                   NaN
 ..                       ...                 ...                   ...
 200                      NaN                 NaN                   NaN
 201                      NaN                 NaN                   NaN
 202                      NaN                 NaN                   NaN
 203                      NaN                 NaN                   NaN
 204                      NaN                 NaN                   NaN

     Unnamed: 13 Unnamed: 14        Unnamed: 15     Unnamed: 16
 0         도매 등급       소매 등급  친환경 등급('05~'20.3)  친환경 등급('20.4~)
 1         04,05          04              07,08             NaN
 2           NaN         NaN                NaN           07,08
 3           NaN         NaN                NaN           07,08
 4         04,05          04                NaN             NaN
 ..          ...         ...                ...             ...
 200         NaN          04                NaN             NaN
 201         NaN          04                NaN             NaN
 202         NaN          04                NaN             NaN
 203          05          05                NaN             NaN
 204          05          05                NaN             NaN

 [205 rows x 17 columns]}

In [ ]:
test['등급코드']

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,등급코드(p_productrankcode),등급코드(p_graderank),등급코드명,NaN
1,NaN,01,2,1등급,NaN
2,NaN,02,3,2등급,NaN
3,NaN,03,4,3등급,NaN
4,NaN,04,1,상품,NaN
5,NaN,05,2,중품,NaN
6,NaN,06,3,하품,NaN
7,NaN,07,1,유기농,NaN
8,NaN,08,2,무농약,NaN
9,NaN,10,1,냉장,NaN
10,NaN,11,3,냉동,NaN
11,NaN,12,4,무항생제,NaN
12,NaN,13,1,S과,NaN
13,NaN,14,2,M과,NaN
14,NaN,15,1,M과,NaN
15,NaN,16,2,S과,NaN
16,NaN,17,1,1+등급,NaN
17,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,"※ 13,14 코드는 도매 감귤(노지, 시설)에서 사용하는 코드 \n상품 -> S과..."
20,NaN,NaN,NaN,NaN,"※ 15,16 코드는 소매 감귤(노지, 시설)에서 사용하는 코드 \n상품 -> M과..."

In [ ]:
test['코드통합(부류＋품목＋품종코드)']

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,NaN,품목 그룹코드,품목 그룹명,품목 코드,품목명,품종코드,품종명,도매출하단위,도매출하단위 크기,소매출하단위,소매출하단위 크기,친환경농산물출하단위('05~'20.3),친환경농산물출하단위크기('05~'20.3),친환경농산물출하단위('20.4~),친환경농산물출하단위크기('20.4~),도매 등급,소매 등급,친환경 등급('05~'20.3),친환경 등급('20.4~)
1,NaN,100,식량작물,111,쌀,01,일반계,kg,20,kg,20,kg,10,NaN,NaN,"04,05",04,"07,08",NaN
2,NaN,100,식량작물,111,쌀,02,백미,NaN,NaN,NaN,NaN,NaN,NaN,kg,4,NaN,NaN,NaN,"07,08"
3,NaN,100,식량작물,111,쌀,03,현미,NaN,NaN,NaN,NaN,NaN,NaN,kg,2,NaN,NaN,NaN,"07,08"
4,NaN,100,식량작물,111,쌀,05,햇일반계,kg,20,kg,20,NaN,NaN,NaN,NaN,"04,05",04,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,NaN,600,수산물,650,새우젓,00,새우젓,NaN,NaN,kg,1,NaN,NaN,NaN,NaN,NaN,04,NaN,NaN
201,NaN,600,수산물,651,멸치액젓,00,멸치액젓,NaN,NaN,kg,1,NaN,NaN,NaN,NaN,NaN,04,NaN,NaN
202,NaN,600,수산물,652,굵은소금,00,굵은소금,NaN,NaN,kg,5,NaN,NaN,NaN,NaN,NaN,04,NaN,NaN
203,NaN,600,수산물,653,전복,00,전복,kg,1,마리,5,NaN,NaN,NaN,NaN,05,05,NaN,NaN
204,NaN,600,수산물,654,새우,01,흰다리(수입),kg,2,마리,10,NaN,NaN,NaN,NaN,05,05,NaN,NaN